
<ul class="list-unstyeld list-inline nav nav-inverse">
  <li><a href="/" class="nav-link">Home</a></li>

  <li><a href="/register" class="nav-link">Register</a></li>
  <li><a href="/login" class="nav-link">Login</a></li>
  <li><a href="/profile" class="nav-link">Profile</a></li>
  <li><a href="/logout" class="nav-link">Logout</a></li>


</ul>
