

<%-include("../nav")%>
<div class="container">
<h2 class="text-lg text-center text-muted">Express Cookies and Session based Application</h2>
<h2 class="sub-title text-center">This is the Home  Page</h2>
</div>
