<%-include("../nav")%>
<div class="container">
  <div class="login">
    <h2>Login</h2>
    <form action="/login" method="POST">
    <input type="text" name="username" class="form-control" placeholder="Username"> <br>
    <input type="password" name="password" class="form-control" placeholder="Password"> <br>
    <button type="submit" class="btn btn-primary btn-block">submit</button>
    </form>
  </div>

</div>
