

<%-include("../nav")%>
<div class="container">
<div class="register">
  <h2>Create Account</h2>
  <form action="/create" method="POST">
      <input type="text" name="username" class="form-control" placeholder="Username" > <br>
      <input type="text" name="password" class="form-control" placeholder="Password"> <br>
      <button type="submit" class="btn btn-primary btn-block">Submit</button>
  </form>
</div>
</div>
